@tailwind base;
@tailwind components;
@tailwind utilities;


.group:hover .group-hover\:opacity-100 {
    opacity: 1;
  }
  
  .group-hover\:opacity-100 {
    opacity: 0;
    transition: opacity 0.3s ease;
  }